<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.temple.skiaui">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".HYSkiaUIApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="SkiaUI"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkiaUI">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|uiMode"
            android:exported="true" />

        <activity
            android:name=".HYSkiaExampleActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".compose.example.HYComposeVideoService"
            android:foregroundServiceType="mediaPlayback"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>